/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /*
   ~~~~~~~~ Start Utility classes ~~~~~~~~~
   */
   * {
     margin: 0;
     padding: 0;

}
   body{

     background-image: url(../img/backgeek.jpg);
     background-size: contain;

   }
   main{
     width: 95%;
     margin: auto;

   }
   .itemscenter{
     background-color: rgba(4, 95, 189, 0.5);
     width: 100%;
     height: 41em;


   }
   .center{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 10vh;
   }

                     /* Nav Section */
   nav{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
   }
   .nav-right-contener{
     display: flex;
     justify-content: flex-end;
     align-items: center;

   }

                      /* End Nav section */

                      /* Start items section */
   .page-produit{
     display: flex;
     justify-content: center;
     justify-content: space-between;
   }

                      /* End items section */
                       /* Start Video section */
.section-video{
  background-color: rgba(0,0,255,0.5);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
                       /* End Video section */
                       /* Start Footer section */
footer{
  display: flex;
  justify-content: center;
}
                       /* Start Footer section */

   /*
   ~~~~~~~~ End Utility classes ~~~~~~~~~
   */



   /*
   ~~~~~~~~ Start Common rules ~~~~~~~~~
   */
p{
  color: white;
  font-family: 'K2D', sans-serif;
}
h1{
  font-family: 'Rajdhani', sans-serif;
  color: white;
}
   /*
   ~~~~~~~~ End Common Rules ~~~~~~~~~
   */



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~!!  Start css rules !!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Start Nav block */

nav{
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  height: 7vh;
}

/*
button{
  background-color: transparent;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  width: 180px;
  height: 30px;
  border-color: #0072bb;
  border-width: 2px;
  margin-top: 2%;
  margin-left: 1%;
}
*/

li{
  border: 2px solid #0072bb;
  width: 11em;
  height: 2em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav a{
  font-size: 1em;
  font-family: 'Rajdhani', sans-serif;
  color: white;
  text-decoration: none;




}

/* End Nav block */
/* Start item block */

          /* The 3 picture of item block */


.img-item{
  width: 350px;
  height: 350px;
  background-color: red;
  margin: auto;
  margin-top: 4em;
}

.img-item p{
  margin-top: 1em;
}

/* End item block */
/* Start Video block */
 .video {

  background-color: rgba(128,128,128,0);
}

/* End Video block */


/* Start Footer block */
footer{
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

/* End Footer block */






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
